.header
    .headmenu
        strong.wordslogo.white MISOCIAL
        nav.navigatemenu.white 
            ul
                li
                    a(href="#") Home
                li 
                    a(href="#") Why MISOCIAL
                li
                    a(href="#") Features
                li
                    a(href="#") Articles
                li
                    a(href="#") Pricing   
                a.getstarted(href="#") get started
    .price
        p.socmark social marketing &amp; analystics
        h1.priceh1 Pricing Table
        p.loremtxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        a(href="#")                  
