.header
    .headmenu
        strong.wordslogo.white MISOCIAL
        +navigmenu(menu, "white")
    .price
        p.socmark social marketing &amp; analystics
        h1.priceh1 Pricing Table
        p.loremtxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        a(href="#")                  
