
#plan.cards-main
    .select
        p.misocialp MISOCIAL
        h2 Select a Plan
        p.sp Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
    .cards
        figure.card1.scalea
            .imgblock
                img(src="img/card1.png", alt="card1logo")
            figcaption
                p.pp
                    b.personal personal
                p
                    b.priceh.short 0
                        span /month
                p Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.
                a(href="#") select plan
        figure.card2.scalea
            .imgblock
                img(src="img/card2.png", alt="card2logo")
            figcaption
                p.pp
                    b.personal personal
                p
                    b.priceh 29 
                        span /month
                p Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.
                a.bediff(href="#") select plan        
        figure.card3.scalea
            .imgblock
                img(src="img/card3.png", alt="card23logo")
            figcaption
                p.pp
                    b.personal personal
                p
                    b.priceh 49 
                        span /month
                p Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.
                a(href="#") select plan